@import url("style/header.css");

*{/*Seletor universal para resetar as bordas das páginas*/
    padding: 0px;
    margin: 0px;
}

:root{ /*seletor raiz para variáveis*/
    --cor-de-fundo: #003375;
    --cor-da-letra:rgb(243, 241, 241);
}

body{/*seletor body*/
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: rgb(241, 0, 209);
}

