*{/*Seletor universal para resetar as bordas das páginas*/
    padding: 0px;
    margin: 0px;
}

:root{/*seletor raiz para variáveis*/
    --cor-de-fundo: #003375;
    --cor-da-letra:rgb(243, 241, 241);
}

body{
    background-color: var(--cor-de-fundo);
}